* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  /* background-color: #cceff0; */
}

/* helper classes */
.bottom {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: #00adb3;
  color: #cceff0;
}
.container {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  /* padding: 0 1.5rem; */
  position: relative;
}
.header {
  margin-bottom: 8rem;
  position: relative;
}
/* nav */

.header-top {
  position: absolute;
  display: flex;
  background-color: #00adb3;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  z-index: 1;
}
.login {
  display: flex;
}
.login-link {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-right: 5rem;
  text-decoration: none;
  color: #cceff0;
}
.login-link:hover {
  color: #2e777a;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.login-icon {
  width: 3rem;
  height: 3rem;
}
.search {
  display: flex;
  align-items: center;
  margin-left: 35rem;
}
.search-input {
  display: inline-block;
  margin: 0 auto;
  height: 4rem;
  width: 40rem;
  border: 0;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.8rem;
  padding-right: 1rem;
  color: #2e777a;
}
.search-input::placeholder {
  color: #00adb3;
}
.search-icon {
  width: 4rem;
  height: 4rem;
  background-color: #99dee1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  stroke: #00adb3;
}
.basket-icon {
  width: 4rem;
  height: 4rem;
}
.basket-link {
  color: #cceff0;
}
.basket-link:hover {
  color: #2e777a;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.nav {
  background-color: #66ced1;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 5.5rem;
}
.nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 8rem;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}
.nav-list-item {
  margin-right: 5rem;
}
.nav-list-item :hover {
  color: #cceff0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.nav-link {
  text-decoration: none;
  color: #2e777a;
  font-weight: bold;
}
.logo {
  width: 5.5rem;
  height: 5.5rem;
}
/* hero */
.hero {
  position: relative;
  top: 13rem;
  background: linear-gradient(
      267deg,
      rgba(0, 173, 179, 0.502),
      rgb(204, 239, 240)
    ),
    url(/images/hero-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60rem;
  margin-bottom: 20rem;
}

.hero-left {
  position: absolute;
  left: 0;
  top: 10rem;
  width: 70rem;
  padding: 0 4rem;
  margin-top: 10rem;
}
.hero-title {
  text-align: center;
  margin: 0 auto;
  font-size: 5rem;
  color: #2e777a;
  text-shadow: 0 0 5px #66ced1;
}
.hero-caption {
  margin-top: 2rem;
  color: #2e777a;
  margin-bottom: 12rem;
  font-size: 2rem;
}
.hero-link {
  text-decoration: none;
  padding: 1.5rem 2rem;
  margin-right: 1.5rem;
}
.bottom:hover {
  background-color: #66ced1;
  color: #2e777a;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
/* banners */
.banner {
  margin-bottom: 5rem;
}
.banners {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.banner-right,
.banner-left {
  width: 61rem;
  height: 26rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.banner-right {
  background: url(/images/banner_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-list {
  position: absolute;
  right: 8rem;
  top: 7rem;
  list-style-type: square;
}
.banner-right_link {
  text-decoration: none;
  color: #2e777a;
  font-weight: bold;
}
.banner-item {
  margin-bottom: 3rem;
  font-size: 2rem;
}
.banner-left {
  background: url(/images/banner_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-left_link {
  position: absolute;
  left: 25rem;
  top: 7rem;
  font-size: 4rem;
  width: 28rem;
  text-decoration: none;
  color: #2e777a;
}
.banners,
.mini-banners,
.selective-products {
  width: 100%;
  flex-wrap: wrap;
}
img {
  max-width: 100%;
  height: auto;
}
/* selective-producs */
.selective {
  margin-bottom: 5rem;
}
.selective-title {
  margin-bottom: 2rem;
  margin-right: 3rem;
  position: relative;
  color: #2e777a;
  background-color: #99dee1;
  width: 23rem;
  padding: 1rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.selective-title::before {
  display: inline-block;
  content: "";
  width: 2rem;
  height: 0.3rem;
  background-color: #66ced1;
  position: absolute;
  top: 2.3rem;
  right: -2.5rem;
}
.selective-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 1rem;
  margin-bottom: 8rem;
}
.selective-item {
  width: 45%;
  height: 24rem;
  margin: 1%;
  border: 1px solid #66ced1;
  box-shadow: 0 0 5px #cceff0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  cursor: pointer;
}
.selective-item:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  border: 2px solid #2e777a;
}
.selective-product {
  width: 30rem;
  height: 20rem;
  object-fit: fill;
  padding: 0.5rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.selective-product_title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #00adb3;
  background-color: #cceff0;
  width: 20rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  border: 1px solid #00adb3;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/* tablighat */
.tablighat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cceff0;
  padding: 0 3rem;
}
.tablighat-title {
  text-decoration: none;
  color: #00adb3;
  font-size: 2.4rem;
  font-weight: 700;
}
.tablighat-caption {
  margin-left: 40rem;
  color: #2e777a;
}
.tablighat-img {
  width: 15rem;
  height: 8rem;
}
/* slider */
.product-slider {
  max-width: 100%;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  height: 43rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s;
  scroll-snap-align: start;
}
.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: transparent;
  font-family: inherit;
  color: #66ced1;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.slider__btn--left {
  left: 3%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 3%;
  transform: translate(50%, -50%);
}
/* slider_1 */
.product-slider {
  max-width: 100%;
  height: 43rem;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}
.slide_1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 43rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* THIS creates the animation! */
  transition: transform 1s;
}
.slider_btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  font-family: inherit;
  background-color: transparent;
  color: #66ced1;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.slider_btn--left {
  left: 3%;
  transform: translate(-50%, -50%);
}

.slider_btn--right {
  right: 3%;
  transform: translate(50%, -50%);
}
/* product-slider */
.most-view {
  margin-bottom: 5rem;
}
.most-sale {
  margin-bottom: 5rem;
}
.most-view_title,
.mini-banner_title,
.most-sale_title,
.testimonial_title {
  text-align: center;
  margin-bottom: 2rem;
  margin-right: 3rem;
  position: relative;
  color: #2e777a;
  background-color: #99dee1;
  width: 23rem;
  padding: 1rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.most-view_title::before,
.mini-banner_title::before,
.most-sale_title::before,
.testimonial_title::before {
  display: inline-block;
  content: "";
  width: 2rem;
  height: 0.3rem;
  background-color: #66ced1;
  position: absolute;
  top: 2.3rem;
  right: -2.5rem;
}
.product-card {
  position: relative;
  border: 2px solid #2e777a;
  border-radius: 15px;
  width: 23.97rem;
  height: 43rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin-right: 1rem;
}
.product-card_img {
  width: 25rem;
  height: 23rem;
  padding: 1rem;
  object-fit: contain;
}
.product-card_detail {
  padding: 1.5rem;
}
.product-card_title {
  text-align: center;
  margin-bottom: 5rem;
  color: #00adb3;
  background-color: #cceff0;
}
.product-card_price p {
  margin-bottom: 1rem;
  color: #2e777a;
}
.product-card_price span {
  color: #66ced1;
}
.product-card_btn {
  border: none;
  background-color: #00adb3;
  width: 100%;
  height: 3.5rem;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 2rem;
  font-weight: 700;
  color: #cceff0;
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
/* Mini_Banners */
.mini-banner {
  margin-bottom: 8rem;
}
.mini-banners {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mini-1,
.mini-2,
.mini-3 {
  width: 40rem;
  height: 22rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.mini-1 {
  position: relative;
  background-image: url(/images/mini-banner-1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.mini-2 {
  position: relative;
  background-image: url(/images/mini-banner-2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.mini-3 {
  position: relative;
  background-image: url(/images/mini-banner-3.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.mini-banner_link {
  text-decoration: none;
}
.mini-banner_text-1 {
  position: absolute;
  top: 7rem;
  right: 3rem;
  font-size: 4rem;
  width: 22rem;
  color: #2e777a;
  text-shadow: 0 0 5px #99dee1;
}
.mini-banner_text-2 {
  position: absolute;
  top: 7rem;
  left: 0;
  font-size: 4rem;
  width: 22rem;
  color: #2e777a;
  text-shadow: 0 0 5px #99dee1;
}
.mini-banner_text-3 {
  position: absolute;
  top: 7rem;
  right: 3rem;
  font-size: 4rem;
  width: 22rem;
  color: #2e777a;
  text-shadow: 0 0 5px #99dee1;
}
/* testimonials */
.testimonial {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 0 5rem 0;
  gap: 40px 60px;
}
.drop {
  position: relative;
  width: 350px;
  height: 350px;
  box-shadow: inset 20px 20px 20px rgba(153, 221, 225, 0.5),
    25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05),
    inset -20px -20px 25px rgba(204, 239, 240, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop:nth-child(1) {
  border-radius: 58% 42% 56% 44% / 30% 46% 54% 70%;
}

.drop:nth-child(2) {
  border-radius: 39% 61% 40% 60% / 49% 32% 68% 51%;
}

.drop:nth-child(3) {
  border-radius: 45% 55% 68% 32% / 49% 59% 41% 51%;
}

.drop:hover {
  border-radius: 50%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.drop::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 80px;
  width: 35px;
  height: 35px;
  background-color: #cceff0;
  border-radius: 50%;
  opacity: 0.9;
}

.drop::after {
  content: "";
  position: absolute;
  top: 90px;
  left: 110px;
  width: 15px;
  height: 15px;
  background-color: #cceff0;
  border-radius: 50%;
  opacity: 0.9;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  gap: 15px;
  align-items: center;
  text-align: center;
}

.content h2 {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #eff0f4;
  box-shadow: inset 2px 5px 10px rgba(153, 221, 225, 0.5),
    inset -2px -5px 10px rgba(204, 239, 240, 0.5),
    15px 15px 10px rgba(46, 119, 122, 0.1), 15px 10px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr);
  user-select: none;
}

.content p {
  user-select: none;
}
.content a {
  position: relative;
  padding: 10px 25px;
  background: var(--clr);
  text-decoration: none;
  color: #fff;
  border-radius: 15px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  opacity: 0.75;
  transition: 0.5s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.content a:hover {
  opacity: 1;
}
.content a::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 50%;
  width: 65%;
  height: 5px;
  transform: translateX(-50px);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}
/* footer */
.footer {
  background-color: #2e777a;
  position: relative;
}
.my-footer {
  display: flex;
}
.footer-right {
  border-left: 2px solid #99dee1;
  margin-left: 2rem;
}
.right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.footer-logo {
  margin-top: 2rem;
}
.footer-logo .logo {
  margin-bottom: 1rem;
}
.footer-text {
  max-width: 30rem;
  line-height: 1.8;
  color: #66ced1;
  text-shadow: 0 0 4px #00adb3;
}
.footer-lists {
  display: flex;
  justify-content: space-between;
  margin-left: 5rem;
  width: 45rem;
  margin-top: 3rem;
}
.list1 {
  margin-right: 3rem;
}
.list1 a,
.list2 a {
  text-decoration: none;
}

.list1 ul,
.list2 ul {
  list-style-type: none;
  margin-top: 1rem;
}
.list-title {
  color: #cceff0;
  font-size: 2.5rem;
}
.footer-list_item {
  margin-bottom: 2rem;
  color: #66ced1;
  font-weight: 700;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.right-down {
  margin-bottom: 5rem;
}
.list1 a :hover,
.list2 a :hover {
  color: #cceff0;
}
.right-down {
  display: flex;
}

.footer-box div {
  display: flex;
  align-items: center;
}
.footer-box_title {
  color: #cceff0;
  margin-right: 3.5rem;
}
.footer-box_text {
  color: #66ced1;
  line-height: 1.5;
}
.footer-down_icon {
  width: 5rem;
  height: 3.5rem;
  padding: 0.5rem 0;
  background-color: #cceff0;
  fill: #2e777a;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  margin-left: 1rem;
}
#footer-box1 {
  width: 30rem;
  padding: 0.5rem 2rem;
  border-left: 3px solid #99dee1;
}
#footer-box2 {
  width: 30rem;
  padding: 0.5rem 2rem;
  border-left: 3px solid #99dee1;
}
#footer-box3 {
  width: 30rem;
  padding: 0.5rem 2rem;
}
#footer-box3 .footer-down_icon {
  width: 3.5rem;
  height: 3.5rem;
}
.footer-left_title {
  color: #cceff0;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.footer-left_text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #66ced1;
  text-shadow: 0 0 4px #00adb3;
  margin-bottom: 1rem;
}
.input-email {
  display: flex;
  height: 3.5rem;
  margin-bottom: 2rem;
}
.input-email input {
  outline: none;
  border: none;
  width: 100%;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.input-email button {
  border: none;
  width: 10rem;
  font-size: 1.8rem;
  cursor: pointer;
  background-color: #00adb3;
  color: #cceff0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.input-email button:hover {
  background-color: #cceff0;
  color: #2e777a;
}
.mojavez {
  color: #cceff0;
}
.mojavezha {
  margin-bottom: 2rem;
}
.footer-left_contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-title {
  color: #cceff0;
  font-size: 2.5rem;
}
.contact-icons a {
  text-decoration: none;
  margin-right: 1rem;
}
.copyright {
  border-top: 2px solid #66ced1;
}
.copyright-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  color: #66ced1;
  font-size: 2rem;
  font-weight: 700;
}
