* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.8rem;
  /* background-color: #cceff0; */
}

/* helper classes */
.bottom {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  background-color: #00adb3;
  color: #cceff0;
}
.container {
  width: 100%;
  padding: 0 1.5rem 0 1.5rem;
  margin: 0 auto;
  position: relative;
}
.header {
  margin-bottom: 8rem;
}
/* nav */

.header-top {
  display: flex;
  background-color: #00adb3;
  align-items: center;
  justify-content: space-around;
}
.login {
  display: flex;
}
.login-link {
  display: flex;
  align-items: center;
  height: 3rem;
  margin-right: 5rem;
  text-decoration: none;
  color: #cceff0;
}
.login-link:hover {
  color: #2e777a;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.login-icon {
  width: 3rem;
  height: 3rem;
}
.search {
  display: flex;
  align-items: center;
  margin-left: 35rem;
}
.search-input {
  display: inline-block;
  margin: 0 auto;
  height: 4rem;
  width: 40rem;
  border: 0;
  outline: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1.8rem;
  padding-right: 1rem;
  color: #2e777a;
}
.search-input::placeholder {
  color: #00adb3;
}
.search-icon {
  width: 4rem;
  height: 4rem;
  background-color: #99dee1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  stroke: #00adb3;
}
.basket-icon {
  width: 4rem;
  height: 4rem;
}
.basket-link {
  color: #cceff0;
}
.basket-link:hover {
  color: #2e777a;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.nav {
  background-color: #66ced1;
  margin-bottom: 2rem;
}
.nav-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 8rem;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}
.nav-list-item {
  margin-right: 5rem;
}
.nav-list-item :hover {
  color: #cceff0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.nav-link {
  text-decoration: none;
  color: #2e777a;
  font-weight: bold;
}
.logo {
  width: 5.5rem;
  height: 5.5rem;
}
/* hero */
.hero {
  position: relative;
  background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
    url(/images/hero-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.hero-left {
  position: absolute;
  left: 0;
  top: 10rem;
  width: 70rem;
  padding: 0 4rem;
  margin-top: 10rem;
}
.hero-title {
  text-align: center;
  margin: 0 auto;
  font-size: 5rem;
  color: #66ced1;
  text-shadow: 0 0 5px #2e777a;
}
.hero-caption {
  margin-top: 2rem;
  color: #99dee1;
  margin-bottom: 12rem;
  font-size: 2rem;
}
.hero-link {
  text-decoration: none;
  padding: 1.5rem 2rem;
  margin-right: 1.5rem;
}
.bottom:hover {
  background-color: #99dee1;
  color: #2e777a;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
/* banners */
.banner {
  margin-bottom: 8rem;
  width: 100%;
}
.banners {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.banner-right,
.banner-left {
  width: 70rem;
  height: 30rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.banner-right {
  background: url(/images/banner_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-list {
  position: absolute;
  right: 10rem;
  top: 9rem;
  list-style-type: square;
}
.banner-right_link {
  text-decoration: none;
  color: #2e777a;
  font-weight: bold;
}
.banner-item {
  margin-bottom: 3rem;
  font-size: 2rem;
}
.banner-left {
  background: url(/images/banner_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-left_link {
  position: absolute;
  left: 35rem;
  top: 10rem;
  font-size: 4rem;
  width: 28rem;
  text-decoration: none;
  color: #2e777a;
}
/* selective-producs */
.selective {
  margin-bottom: 8rem;
}
.selective-title {
  margin-bottom: 2rem;
  margin-right: 3rem;
  position: relative;
  color: #2e777a;
  background-color: #99dee1;
  width: 23rem;
  padding: 1rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.selective-title::before {
  display: inline-block;
  content: "";
  width: 2rem;
  height: 0.3rem;
  background-color: #66ced1;
  position: absolute;
  top: 2.3rem;
  right: -2.5rem;
}
.selective-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 2.5rem;
  margin-bottom: 8rem;
}
.selective-product {
  width: 30rem;
  height: 25rem;
  border: 1px solid #66ced1;
  box-shadow: 0 0 5px #cceff0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  object-fit: fill;
}
.selective-product:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  border: 2px solid #2e777a;
}
/* tablighat */
.tablighat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #cceff0;
  padding: 0 3rem;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.tablighat-title {
  text-decoration: none;
  color: #00adb3;
  font-size: 2.4rem;
  font-weight: 700;
}
.tablighat-caption {
  margin-left: 40rem;
  color: #2e777a;
}
.tablighat-img {
  width: 15rem;
  height: 8rem;
}
