@media screen and (min-width: 1400px) {
  .container {
    max-width: 127rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
}
@media screen and (max-width: 1400px) {
  .product-slider {
    max-width: 124rem;
  }
  /* .banner-left_link {
    top: 33rem;
    left: 87rem;
  } */
}
@media screen and (max-width: 1200px) {
  .search {
    margin-left: 1rem;
  }
  .search-input {
    width: 25rem;
  }
  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
  .banners {
    flex-direction: column;
    gap: 2rem;
  }
  .banner-right,
  .banner-left {
    height: 25rem;
    margin: 0 auto;
  }
  .banner-left_link {
    top: 33rem;
    left: 52rem;
  }
  .banner-list {
    right: 29rem;
  }
  .product-slider {
    max-width: 99rem;
  }
  .my-footer {
    flex-wrap: wrap;
  }
  .footer-right {
    width: 100%;
    margin-left: 0;
    border-left: none;
  }
}
@media screen and (max-width: 992px) {
  .banner-right,
  .banner-left {
    width: 100%;
    height: 25rem;
  }
  .banner-left_link {
    top: 33rem;
    left: 50rem;
    width: 30rem;
  }
  .banner-list {
    right: 10rem;
  }
  .tablighat-caption {
    margin-left: 0;
  }
  .product-slider {
    max-width: 74rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 9px;
  }
  .header-top {
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
  }
  .login {
    order: 2;
    justify-content: center;
  }
  .search {
    order: 1;
    margin-left: 0;
    width: 100%;
  }
  .search-input {
    width: 100%;
  }
  .nav {
    display: none;
  }
  .nav-list {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding: 1rem;
  }
  .nav-list-item {
    margin: 0.5rem;
  }
  .hero {
    height: 50rem;
  }
  .hero-left {
    top: 5rem;
    padding: 0 2rem;
  }
  .hero-title {
    font-size: 3.2rem;
  }
  .banner-right,
  .banner-left {
    width: 100%;
    height: 25rem;
  }
  .banner-left_link {
    top: 33rem;
    left: 40rem;
  }
  .selective-item {
    width: 48%;
    margin: 1%;
  }
  .tablighat-caption {
    margin-left: 0;
  }
  .product-slider {
    max-width: 49rem;
  }

  .mini-banners {
    flex-direction: column;
    gap: 2rem;
  }
  .mini-1,
  .mini-2,
  .mini-3 {
    width: 100%;
  }
  .testimonial {
    flex-direction: column;
  }
  .footer-list {
    flex-direction: column;
    width: 100%;
  }
  .footer-right {
    padding: 0 2rem;
  }
  .right-down {
    flex-wrap: wrap;
  }
  #footer-box1 {
    margin-bottom: 2rem;
  }
  #footer-box2 {
    border-left: none;
  }
  .input-email input {
    width: 30rem;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    top: 23rem;
  }
  .hero-title {
    font-size: 2.5rem;
    margin-right: 35rem;
  }
  .hero-caption {
    font-size: 1.6rem;
    width: 30rem;
    margin-right: 35rem;
  }
  .hero-links {
    margin-right: 34rem;
  }
  .banner-right,
  .banner-left {
    width: 100%;
    height: 25rem;
  }
  .banner-list {
    right: 7rem;
  }
  .banner-left_link {
    top: 37rem;
    left: 21rem;
    width: 21rem;
    font-size: 2.5rem;
  }
  .selective-title,
  .most-view_title,
  .mini-banner_title,
  .most-sale_title,
  .testimonial_title {
    width: 16rem;
    font-size: 1.8rem;
    text-align: center;
  }
  .selective-products {
    flex-direction: column;
    align-items: center;
  }
  .selective-item {
    width: 45rem;
  }
  .selective-product {
    width: 100%;
    object-fit: contain;
    padding: 0;
  }
  .tablighat {
    flex-direction: column;
    padding: 0;
  }
  .tablighat-caption {
    text-align: center;
  }
  .slide {
    width: 100%;
    margin: 0 auto;
  }
  .product-slider {
    max-width: 100%;
  }
  .slide_1 {
    width: 100%;
    margin: 0 auto;
  }
  .product-card {
    margin-right: 0;
  }
  .drop {
    height: 30rem;
    width: 30rem;
  }
  .drop::before {
    left: 6rem;
  }
  .content h2 {
    width: 5rem;
    height: 5rem;
  }
  .footer-right {
    border-left: none;
  }
  .footer-left {
    width: 100%;
  }
  .right-top {
    flex-direction: column;
  }
  .right-down {
    flex-direction: column;
  }
  .footer-box {
    width: 100% !important;
    margin-bottom: 2rem;
  }
  #footer-box1 {
    border-left: none;
  }
}
